* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.section {
    flex: 1;
    display: flex;
    font-size: 24px;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.calculadora-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 1.5rem;
    width: 48rem;
}

.calculadora-titulo {
    font-size: 1.25rem;
    font-weight: 600;
    color: #4a5568;
    margin-bottom: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
}

.campos-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 15px;
}

.label {
    color: #4a5568;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 16px;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    text-align: center;
}

.input-container {
    position: relative;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

.unidade {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #555;
    pointer-events: none;
}

.botao-calculo {
    width: 100%;
    margin-top: 1rem;
    background-color: #345FF6;
    color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border: none;
}

.botao-calculo:hover {
    background-color: #2b6cb0;
}

.hidden {
    display: none;
}

.textContent {
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
}

.textContent h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.textContent h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.textContent h3 {
    font-size: 24px;
    line-height: 1.5;
}

.textContent h4 {
    font-size: 16px;
    line-height: 1.5;
}

.inter-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #253347;
}

.inter-text2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #5E6E85;
}

.resultado {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: rgba(94, 110, 133, 0.24);
    border-radius: 0.5rem;
    text-align: center;
}

.resultado-valor {
    font-size: 1.875rem;
    font-weight: 700;
}

.resultado-categoria {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.result {
    margin-top: 2.5rem;
    text-align: center;
}

.result p {
    margin: 0.5rem 0;
}

.result .bmi-value {
    font-size: 2rem;
    font-weight: bold;
    color: #2d3748;
}

.result .bmi-category {
    font-size: 1.25rem;
    color: #4a5568;
    margin-top: 0.5rem;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.radius {
    border-radius: 16px 999px 999px 16px;
}

#section-gradiente {
    background: linear-gradient(180deg, rgba(214, 252, 254, 0.25) 0%, rgba(214, 230, 254, 0.25) 100%);
    border-radius: 35px;
}

.cards {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.card h3 {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.card h3 .icon {
    margin-right: 10px;
    font-size: 20px;
}

.card p {
    color: #5b6d89;
    margin: 0;
    line-height: 1.4;
}
